:root {
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  --colour_one: #e63946;
  --colour_two: #f1faee;
  --colour_three: #a8dadc;
  --colour_four: #457b9d;
  --colour_five: #1d3557;
  --colour_six: #112035;
  --colour_seven: #e63946;
  --colour_eight: rgb(233, 233, 233);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  overflow-x: hidden;
}

body {
  background-color: var(--colour_six);
}

#root {
  width: 100vw;
  word-break: break-all;
  padding: 20px;
}

.AudioElement {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track-piece:start {
  background: rgba(0, 0, 0, 0.1);
  margin-top: 40px;
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
  background: blue;
  border-radius: 10px;
}

.AudioContainer__show {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #1120359d;
  z-index: 100;
}

.AudioContainer__hide {
  display: none;
}

/* Player styles */
#Controls_container {
  display: flex;
  flex-direction: column;
  background-color: #e7e7e7;
  padding: 20px;
}
#buttons__container {
  display: flex;
  width: 590px;
}

.btn {
  padding: 10px;
  width: 20%;
  background-color: #631a86;
  border: none;
  outline: none;
  margin: 10px;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

abbr,
ins {
  text-decoration: none;
}

.btn:hover {
  background-color: #4e106b;
}

.btn_cancel {
  background-color: red;
}
.btn_cancel:hover {
  background-color: rgb(223, 0, 0);
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"] {
    overflow: hidden;
    -webkit-appearance: none;
    background-color: #631a86;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #2d7dd2;
    margin-top: -1px;
  }

  input[type="range"]::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    cursor: ew-resize;
    background: #00c49a;
    box-shadow: -500px 0 0 500px #631a86;
  }
}

#name,
#info_p,
#range {
  margin: 5px 10px;
}

/* WinControls */

.WindowControls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(32, 23, 47);
  width: 100vw;
  height: 40px;
  -webkit-app-region: drag;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.WindoesControls_space {
  width: 100%;
  height: 50px;
}

.ThreeMainButtons {
  display: flex;
  -webkit-app-region: no-drag;
}

.minimise_sign {
  width: 20px;
  background-color: whitesmoke;
  height: 3px;
}

.close {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: background 0.3s ease-in-out;
}

.close:hover {
  background-color: red;
}

.maximise,
.minimise {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease-in-out;
}

.minimise:hover,
.maximise:hover {
  background-color: black;
}

.maximise_sign {
  width: 20px;
  height: 20px;
  border: 3px solid whitesmoke;
}

.close_sign_one {
  transform: rotate(45deg);
  width: 28px;
  background-color: whitesmoke;
  height: 3px;
  position: absolute;
  left: 7px;
}
.close_sign_two {
  transform: rotate(-45deg);
  width: 28px;
  background-color: whitesmoke;
  height: 3px;
  position: absolute;
  left: 7px;
}

.WinControlsMenu {
  display: flex;
  align-items: center;
}

.WinTitle {
  padding: 0px 10px;
  color: whitesmoke;
}

.no_audio_item_warning {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
  font-weight: bold;
  font-size: 24px;
  padding: 15px;
}

/* item */

#root {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  row-gap: 15px;
}

.audioItem {
  width: 90%;
  padding: 15px;
  color: whitesmoke;
  background-color: var(--colour_one);
  border-radius: 10px;
  margin-top: 10px;
  height: 100%;
}

@media (min-width: 600px) {
  #root {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1000px) {
  #root {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
