:root {
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  --colour_one: #e63946;
  --colour_two: #f1faee;
  --colour_three: #a8dadc;
  --colour_four: #457b9d;
  --colour_five: #1d3557;
  --colour_six: #112035;
  --colour_seven: #e63946;
  --colour_eight: rgb(233, 233, 233);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#video {
  max-width: 100vw;
  width: 100vw;
  max-height: 100vh;
  height: 100vh;
}

#info {
  position: fixed;
  top: 40px;
  left: 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.808);
  color: var(--colour_five);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#info > p {
  padding: 10px;
}

#info:hover {
  opacity: 1;
}

/* WinControls */

.WindowControls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(32, 23, 47);
  width: 100vw;
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 1000;
  -webkit-app-region: drag;
}

.WindowControls:focus,
.WindowControls:hover {
  opacity: 1;
}

.ThreeMainButtons {
  display: flex;
  -webkit-app-region: no-drag;
}

.minimise_sign {
  width: 20px;
  background-color: whitesmoke;
  height: 3px;
}

.close {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: background 0.3s ease-in-out;
}

.close:hover {
  background-color: red;
}

.maximise,
.minimise {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease-in-out;
}

.minimise:hover,
.maximise:hover {
  background-color: black;
}

.maximise_sign {
  width: 20px;
  height: 20px;
  border: 3px solid whitesmoke;
}

.close_sign_one {
  transform: rotate(45deg);
  width: 28px;
  background-color: whitesmoke;
  height: 3px;
  position: absolute;
  left: 7px;
}
.close_sign_two {
  transform: rotate(-45deg);
  width: 28px;
  background-color: whitesmoke;
  height: 3px;
  position: absolute;
  left: 7px;
}

.WinControlsMenu {
  display: flex;
  align-items: center;
}

.WinTitle {
  padding: 0px 10px;
  color: whitesmoke;
}

/* video item num handler */
.dis {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}

.show {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}

.numInput {
  padding: 10px;
  background-color: whitesmoke;
  color: black;
  min-width: 10px;
  min-height: 10px;
}
