:root {
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    --colour_one: #e63946;
    --colour_two: #f1faee;
    --colour_three: #a8dadc;
    --colour_four: #457b9d;
    --colour_five: #1d3557;
    --colour_six: #112035;
    --colour_seven: #e63946;
    --colour_eight: rgb(233, 233, 233);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#video {
    max-width: 100vw;
    width: 100vw;
    max-height: 100vh;
    height: 100vh;
}

#info {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.808);
    color: var(--colour_five);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#info > p {
    padding: 10px;
}

#info:hover {
    opacity: 1;
}
