/* common */

:root {
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  --colour_one: #e63946;
  --colour_two: #f1faee;
  --colour_three: #a8dadc;
  --colour_four: #457b9d;
  --colour_five: #1d3557;
  --colour_six: #112035;
  --colour_seven: #e63946;
  --colour_eight: rgb(233, 233, 233);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  background-color: var(--colour_six);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root {
  width: 100vw;
  word-break: break-all;
  padding: 20px;
}

/* react */

.AudioElement {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AudioElement::-webkit-scrollbar-button {
  color: blue;
}

::-webkit-scrollbar {
  background-color: var(--colour_three);
  width: 5px;
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
  background: var(--colour_five);
  border-radius: 2px;
}

.AudioElement__no_video_yet__container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.AudioElement__FileItem__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FileItem {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  min-height: 40px;
  background-color: var(--colour_one);
  cursor: pointer;
}

/* prompt */
.prompt {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  background-color: #112035b9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.promptInner {
  background-color: var(--colour_two);
  padding: 20px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.prompt_btn {
  padding: 10px;
  border: none;
  outline: none;
  background-color: var(--colour_six);
  color: var(--colour_two);
  margin: 10px;
  width: 150px;
}

.preview {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  background-color: #112035b9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview_element {
  max-width: 100%;
  max-height: 100%;
}

/* select */

.SelectContainer {
  padding: 20px;
}

.select {
  width: calc(90vw - 40px);
  padding: 10px;
  outline: none;
  background-color: var(--colour_seven);
  color: var(--colour_two);
  font-size: 16px;
}

/* set */

.Set {
  width: 100%;
  padding: 20px;
  width: 500px;
  display: flex;
  flex-direction: column;
}

.hide_button,
.selectFileButton {
  width: 100%;
  background-color: var(--colour_seven);
  color: var(--colour_two);
  padding: 7px;
  border: none;
  outline: none;
  margin-top: 10px;
}

.fileName {
  padding: 10px 20px;
  width: 100%;
  color: var(--colour_two);
}

.input_password_for_file {
  width: 100%;
  padding: 7px;
  outline: none;
  color: var(--colour_six);
  margin-top: 10px;
}

/* WinControls */

.WindowControls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(32, 23, 47);
  width: 100vw;
  height: 40px;
  -webkit-app-region: drag;
}

.ThreeMainButtons {
  display: flex;
  -webkit-app-region: no-drag;
}

.minimise_sign {
  width: 20px;
  background-color: whitesmoke;
  height: 3px;
}

.close {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: background 0.3s ease-in-out;
}

.close:hover {
  background-color: red;
}

.maximise,
.minimise {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease-in-out;
}

.minimise:hover,
.maximise:hover {
  background-color: black;
}

.maximise_sign {
  width: 20px;
  height: 20px;
  border: 3px solid whitesmoke;
}

.close_sign_one {
  transform: rotate(45deg);
  width: 28px;
  background-color: whitesmoke;
  height: 3px;
  position: absolute;
  left: 7px;
}
.close_sign_two {
  transform: rotate(-45deg);
  width: 28px;
  background-color: whitesmoke;
  height: 3px;
  position: absolute;
  left: 7px;
}

.WinControlsMenu {
  display: flex;
  align-items: center;
}

.WinTitle {
  padding: 0px 10px;
  color: whitesmoke;
}

/* simple styles */

.hide {
  display: none;
}

.danger {
  background-color: var(--colour_seven);
  color: var(--colour_two);
}

.no_file_item_warning {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
  font-weight: bold;
  font-size: 24px;
  padding: 15px;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filesItem {
  width: 90%;
  background: var(--colour_one);
  color: whitesmoke;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
}

.filesName {
  font-weight: bold;
}

.filesType {
  font-weight: 500;
}
